<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Введите имя пользователя</label><br>
            <input type="text" name="username" />
        </p>
        <p>
            <label>Введите пароль</label><br>
            <input type="text" name="password" />
        </p>
            <label>Введите email</label><br>
            <input type="text" name="email" />
        <p>
            <label>Введите ваше имя</label><br>
            <input type="text" name="first_name" />
        </p>
        <p>
            <label>Введите вашу фамилию</label><br>
            <input type="text" name="last_name" />
        </p>
        <p>
            <label>Расскажите о себе</label><br>
            <input type="text" name="bio" />
        </p>
        <p>
            <label>Придумайте ссылку на ваш профиль</label><br>
            <input type="text" name="link" />
        </p>
        <input type="submit" value="Сохранить" >
    </form>
</body>
</html>